mkdocs-material==6.2.8
mkdocs-git-revision-date-localized-plugin==0.8
mkdocs-git-authors-plugin==0.3.3
nltk<=3.4.5
jieba==0.42.1
mkdocs-glightbox==0.2.1
jinja2>=3.0.2
markdown>=3.2
mkdocs>=1.3.0
mkdocs-material-extensions>=1.0.3
pygments>=2.12
pymdown-extensions>=9.4

# Requirements for plugins
requests>=2.26